*   {
    box-sizing: border-box;
}

html  {
    height: 100%;
    background-color: red;
}

body {
    min-height: 100%; 
    margin: 1%;
    background-color: white;
}

.user_input{
    text-align: center;
}