<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap.min.css') }}">
        <!-- CTRL+SHIFT+R to reload static files - i.e., remove catch -->
        <link rel="stylesheet" href="{{ url_for('static', filename='custom/style.css') }}">
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script> -->
        <script src="{{ url_for('static', filename='libs/jquery-3.4.1.slim.min.js')}}"></script>
        <title>ML API</title>
    </head>

    <body>
        <h1>Predict Pokemon Type</h1>
        <div class="container">
            <div class="row">
                <div class="user_input col">
            
                    <!-- Main Input For Receiving Query to our ML -->
                    <!-- NOT DRY, consider using template for slider_container group -->
                    <form action="{{ url_for('predict')}}" method="post" id = "param_form">
                        <div class="slider_container">
                            <div><label>Attack</label></div>
                            <div class="range_box"><input class="my_range" type="range" value="5" min = "5" max = "190" name="attack" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>Defence</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "5" min = "5" max = "230" name="defence" required="required"/></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>Generation</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "1" min = "1" max = "6" name="generation" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>HP</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "1" min = "1" max = "255" name="hp" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>Legendary</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "0" min = "0" max = "1" name="legendary" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>Special Attack</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "10" min = "10" max = "194" name="spatk" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>Special Defence</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "20" min = "20" max = "230" name="spdef" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>Speed</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "5" min = "5" max = "180" name="speed" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="slider_container">
                            <div><label>Total</label></div>
                            <div class="range_box"><input class="my_range" type="range" value = "180" min = "180" max = "780" name="total" required="required" /></div>
                            <div class="range_value"><span>0</span></div>
                        </div>

                        <div class="form-group">
                            <select class="custom-select" name = "method" required = "required">
                                <option value="" selected>select your method</option>
                                <option value="KNN">KNN</option>
                                <option value="MLP">MLP</option>
                                <option value="RF">RF</option>
                            </select>
                        </div>
                        
                        <button class="btn my_primary" type="submit"">Predict</button>
                       
                    </form>
                </div>
                
                <script src="{{ url_for('static', filename='custom/base.js')}}"></script>

                <div class="prediction col">
                    <!-- each block must has a unique name, the name is "prediction" in this case -->
                    {% block prediction %}{% endblock %}
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

    </body>

</html>