{% extends "index.html" %}

{% block prediction %}

    <div class="prediction">
        <div id="graphDiv"></div>
    </div>
    
    <!-- store the data returned by flask in a variable named graphData, must be done within the template so that jinja2 works -->
    <!-- THIS IS NOT USER-SUPPLIED DATA -->
    <script>var graphData = {{ plot_data | tojson | safe }}</script>
    <!-- use graphData to make plot -->
    <script src="{{ url_for('static', filename='plot.js')}}"></script> 

{% endblock %}