{% extends "index.html" %}

{% block prediction %}

    <div id="graphDiv"></div>
    
    <!-- store the data returned by flask in a variable named graphData, must be done within the template so that jinja2 works -->
    <script>
        // THIS IS NOT USER-SUPPLIED DATA 
        var graphData = {{ plot_data | tojson | safe }}
        // THIS IS USER-SUPPLIED DATA, BUT they're constrain by range and select so safer
        var params = {{ params | tojson}}
    </script>
    <!-- use graphData to make plot -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="{{ url_for('static', filename='libs/d3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='custom/plot.js')}}"></script> 
    <script src="{{ url_for('static', filename='custom/resetInput.js')}}"></script>
    
{% endblock %}